.avatar {
    &__label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px 11px;
        cursor: pointer;
        margin-bottom: 20px;

        @include max-width(520px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &:hover {
            color: #096601;

            .avatar__input-text {
                background-color: #DAFFD7;
                color: $text;
            }

        }
    }

    &__text {
        font-weight: 300;

        @include max-width(520px) {
            font-size: 14px;
        }
    }

    &__input-wrapper {
        position: relative;

    }

    &__input {
        position: absolute;
        transform: scale(0);

        &:focus+.avatar__input-text {
            background-color: #DAFFD7;
            border: 1px solid #096601;
        }
    }

    &__input-text {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #12DF00;
        border-radius: 4px;

        @include max-width(520px) {
            font-size: 14px;
        }
    }


}