.footer {
    padding: 55px 0;

    @include max-width(768px) {
        padding-bottom: 30px;
    }

    @include max-width(520px) {
        padding-bottom: 14px;
    }

    &__container {
        display: grid;
        gap: 14px;
        grid-template-areas:
            'logo .'
            'copyright contact';

        @include max-width(520px) {
            grid-template-areas:
                'logo'
                'contact'
                'copyright';
            gap: 0;
        }
    }

    &__logo {
        grid-area: logo;

        @include max-width(520px) {
            margin-bottom: 44px;
        }
    }

    &__copyright {
        grid-area: copyright;
        align-self: end;

        @include max-width(520px) {
            justify-self: left;
            font-size: 14px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-area: contact;
        justify-self: end;


        @include max-width(520px) {
            justify-self: start;
            font-size: 14px;
            margin-bottom: 33px;

        }
    }
}