.footer {
    padding: 55px 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        margin-bottom: 42px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 7px;
        justify-content: flex-end;
    }
}