.person {
    &__service {
        margin-bottom: 32px;

        @include max-width(520px) {
            margin-bottom: 24px;
        }
    }

    &__about {
        margin-bottom: 32px;

        @include max-width(520px) {
            margin-bottom: 24px;
        }
    }

    &__review {
        margin-bottom: 40px;

        @include max-width(520px) {
            margin-bottom: 32px;
        }
    }

}