.search {
    position: relative;
    max-width: 580px;
    height: 46px;
    width: 100%;

    &__input {
        padding: 10px 24px;
        height: 100%;
        width: 100%;
        font-weight: 300;
        color: #A9A9A9;
        background-color: #FFFFFF;
        border-radius: 6px;
        border: none;
    }

    &__submit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        line-height: 0;
    }
}