.service {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    grid-template-areas:
        'avatar present price'
        'contacts contacts review';
    grid-template-columns: 50px 1fr max-content;
    gap: 20px 24px;

    &_person {
        gap: 40px 14px;
    }

    &__avatar {
        grid-area: avatar;
    }

    &__present {
        grid-area: present;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__name {
        font-weight: 300;

    }

    &__price {
        grid-area: price;
        font-size: 24px;
        text-align: right;
    }

    &__review {
        grid-area: review;
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__count-review {
        padding-left: 18px;
        background: url('img/comment.svg') left/14px no-repeat;
    }

    &__contacts {
        grid-area: contacts;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: flex-end;

    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 9px;

        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &_phone::before {
            background-image: url('img/phone.svg');

        }

        &_email::before {
            background-image: url('img/email.svg');
        }
    }

}