html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $back;
  color: $text;

}

h1,
h2,
h3,
h4,
p,
ul,
fieldset {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  display: block;
  cursor: pointer;
  font: inherit;
}

input,
textarea {
  font: inherit;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}